#for arch linux

[Unit]
Description=PizeroBikecomputer
#Requires=gpsd.service
#After=gpsd.service local-fs.target
# After= and Wants= will be injected by install.sh based on headful/headless mode

[Service]
WorkingDirectory=
ExecStartPre=
ExecStart=
ExecStopPost=

User=
Group=
Type=simple
Restart=on-failure
RestartSec=5

StandardOutput=
#StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
